body{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: gray;
    
    
}
h1{
    color: #66bfbf;
    font-size: 5.625em;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2{
    color:#66bfbf;
    font-family: 'Marcellus', serif; 
    font-size: 200%;
}
h3{
    color:#66bfbf;
    font-family: 'Marcellus', serif; 
}
p{
    line-height: 2;
   }
   a{
     color: #40bad5;
     font-family: 'Montserrat', sans-serif;
     margin: 10px 20px;
     text-decoration: none;
   }
   a:hover{
       color: lightblue;
   }
.top-container{
    padding-top: 100px;
   background-color: #e4f9f5;
    padding-top: 100px;
    position: relative;
    line-height: 1;
   
}
.middle-container{
    margin: 50px 0 50px;
    font-family: 'Montserrat', sans-serif;
}
.bottom-container{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}
.bottomy-container{
    font-family: 'Montserrat', sans-serif;
    background-color: #0a97b0;
    padding: 40px 0 20px;
}
   
.upper-cloud{
    position: absolute;
   right: 300px;
    top: 40px;
   
   }
.lower-cloud{
    position: absolute;
   left: 250px;
    bottom: 300px;
}
.profile{
    width: 50%;
    margin: auto;
}
.myphoto{
    width: 35%;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
} 
.web{
     width: 25%;
     float: left;
     margin-right: 30px;
    
} 
.py{
    width: 25%;
    float: right;
    margin-left: 30px;
    
}
.contact-message{
         width: 40%;
         margin: auto;
         padding: 20px 0 40px;
}
.btn 
{
      width: auto;
      background: #11CDD4;
      background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
      background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
      background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
      background-image: -o-linear-gradient(top, #11CDD4, #11999E);
      background-image: linear-gradient(to bottom, #11CDD4, #11999E);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      color: #FFFFFF;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: 100;
      padding: 15px;
      box-shadow: 1px 1px 20px 0px #000000;
      -webkit-box-shadow: 1px 1px 20px 0px #000000;
      -moz-box-shadow: 1px 1px 20px 0px #000000;
      text-shadow: 1px 1px 20px #000000;
      border: solid #337FED 1px;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      text-align: center;
 }
    
    .btn:hover {
  border: solid #337FED 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    }
    .copyright{
        font-size: 0.75rem;
        color: lightblue;
        padding-top: 30px;

    }
  